#loading {
	text-align: center;
	padding-top: 200px;
}

#user-name-view {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 20%;
	color: darkorange;
	font-weight: bold;
	text-shadow: -1px 1px #353744;
}

ul li {
	display: inline-block;
	margin: 2 px;
}

.btn {
	max-height: 30px;
}

.btn.full-width {
	width: 100%;
}

.btn h4 {
	margin-top: -1px;
}

.wrapper .header nav {
	background-color: white;
	min-height: 60px;
}

#brand {
	margin-top: -12px;
}

#navbar-links {
	float: right;
}

#navbar-links .nav-right {
	margin-top: 5px;
}

#navbar-links .nav-right li .main-link {
	color: #353744;
	font-size: 18px;
	font-weight: bold;
}

#navbar-links .nav-right li .main-link:hover, #navbar-links .nav-right li .main-link.auth:hover {
	color: darkgrey;
}

#navbar-links .nav-right li .main-link.auth {
	color: #9AC540;
}

.nav-colapse-btn {
	margin-top: 15px;
	background-color: #353744;
}


/*/================================================/*/

.wrapper .footer {
	background-color: #9AC540;
	color: white;
	min-height: 50px;
	text-align: center;
	padding-top: 10px;
	font-size: 22px;
	border-top: 1px solid #353744;
}


/*/================================================/*/

.wrapper .main {
	display: flex;
	flex-direction: column;
	display: -webkit-flex;
	background-color: lightgray;
	min-height: 550px;
	padding-top: 70px;
	padding-left: 10px;
	padding-right: 10px;
}

.main-children {
	flex: 1 100%;
}

#content-aside {
	padding-left: 15px;
}

.home {
	text-align: center;
}

.todos-container .todo {
	border: 2px solid gray;
	width: 100%;
	margin: 5px;
	padding: 5px;
	display: inline-block;
}

@media only screen and (min-width: 480px) {
	.wrapper .main {
		flex-direction: row;
	}
}

@media only screen and (min-width: 768px) {
	.todos-container .todo {
		width: 30%;
	}
}